.PostDetails {
  position: sticky;
  top: 20px;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;

  &__post {
    text-align: center;
    padding: 10px 0 15px;
  }

  &__comments {
    background-color: bisque;
    border-radius: 10px;
    text-align: right;
    transition: background-color 0.4s;

    &:hover {
      background-color: rgb(228, 136, 25);
    }
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 0.9rem;
  }

  &__remove-button {
    min-width: 20px;
    color: inherit;
    background-color: transparent;
    transition: color 0.12s;
    margin-right: 10px;

    &:hover {
      color: #e9e6f2;
      background-color: transparent;
    }

    &:hover + p {
      transition: color 0.12s;
      color: #e9e6f2;
    }
  }
}
